/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end of css reset */


/* FONTS */

@font-face {
    font-family: 'CubanoRegular';
    src: url('../fonts/Cubano/cubano-regular-webfont.eot');
    src: url('../fonts/Cubano/cubano-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Cubano/cubano-regular-webfont.woff') format('woff'),
         url('../fonts/Cubano/cubano-regular-webfont.ttf') format('truetype'),
         url('../fonts/Cubano/cubano-regular-webfont.svg#CubanoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dudehank';
    src: url('../fonts/Dude/dude_hank-webfont.eot');
    src: url('../fonts/Dude/dude_hank-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Dude/dude_hank-webfont.woff') format('woff'),
         url('../fonts/Dude/dude_hank-webfont.ttf') format('truetype'),
         url('../fonts/Dude/dude_hank-webfont.svg#dudehank') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'geared_slabbold';
    src: url('../fonts/Geared/gearedslab-bold-webfont.eot');
    src: url('../fonts/Geared/gearedslab-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Geared/gearedslab-bold-webfont.woff') format('woff'),
         url('../fonts/Geared/gearedslab-bold-webfont.ttf') format('truetype'),
         url('../fonts/Geared/gearedslab-bold-webfont.svg#geared_slabbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	/* designed by Derek Weathersbee <www.derekweathersbee.com> // found at Lost Type <http://www.losttype.com/font/?name=franchise> */
    font-family: 'franchiseregular'; 
    src: url('../fonts/Franchise-Bold/franchise-bold-webfont.eot');
    src: url('../fonts/Franchise-Bold/franchise-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Franchise-Bold/franchise-bold-webfont.woff') format('woff'),
         url('../fonts/Franchise-Bold/franchise-bold-webfont.ttf') format('truetype'),
         url('../fonts/Franchise-Bold/franchise-bold-webfont.svg#franchiseregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MenschBold';
    src: url('../fonts/Mensch/mensch-bold-wf.eot');
    src: url('../fonts/Mensch/mensch-bold-wf.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Mensch/mensch-bold-wf.woff') format('woff'),
         url('../fonts/Mensch/mensch-bold-wf.ttf') format('truetype'),
         url('../fonts/Mensch/mensch-bold-wf.svg#MenschMenschBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'mission_scriptregular';
    src: url('../fonts/Mission/mission-script-webfont.eot');
    src: url('../fonts/Mission/mission-script-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Mission/mission-script-webfont.woff') format('woff'),
         url('../fonts/Mission/mission-script-webfont.ttf') format('truetype'),
         url('../fonts/Mission/mission-script-webfont.svg#mission_scriptregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pompadourblack';
    src: url('../fonts/Pompadour/pompadour-webfont.eot');
    src: url('../fonts/Pompadour/pompadour-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Pompadour/pompadour-webfont.woff') format('woff'),
         url('../fonts/Pompadour/pompadour-webfont.ttf') format('truetype'),
         url('../fonts/Pompadour/pompadour-webfont.svg#pompadourblack') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'quaver_serifregular';
    src: url('../fonts/Quaver/quaverserif-webfont.eot');
    src: url('../fonts/Quaver/quaverserif-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Quaver/quaverserif-webfont.woff') format('woff'),
         url('../fonts/Quaver/quaverserif-webfont.ttf') format('truetype'),
         url('../fonts/Quaver/quaverserif-webfont.svg#quaver_serifregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'quaver_sansregular';
    src: url('../fonts/Quaver/quaversans-webfont.eot');
    src: url('../fonts/Quaver/quaversans-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Quaver/quaversans-webfont.woff') format('woff'),
         url('../fonts/Quaver/quaversans-webfont.ttf') format('truetype'),
         url('../fonts/Quaver/quaversans-webfont.svg#quaver_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}



/* CSS */


body {
	background-color: #99CCCC;
}

#container {
	
}

#header {
	position: relative;
	float: left;
	-webkit-transform: rotate(-15deg);
	-webkit-transform-origin: center center;
	transform: rotate(-15deg);
	transform-origin: center center;
	
	margin-top: 50px;
	margin-left: 30px;
}

.subtext {
	margin-top: 32px;
	margin-left: 40px;
}

.topline, .bottomline {
	height: 5px;
	width: 100%;
	background-color: #698C8C;
	border-radius: 5px;
}

.topline {
	margin-bottom: 50px;
	margin-left: 100px;
}
.bottomline {
	margin-top: 70px;
	margin-left: -125px;
}

h1 {
    font-family: 'mission_scriptregular';
    font-size: 150px;
    color: #CC3333;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 54px;
	font-weight: 300;
	color: #698C8C;
	font-style: italic;
}

#body {
	margin: 50px 50px 50px 0px;
	float: right;
	position: relative;
}

h3 {
	font-size: 36px;
	line-height: 54px;
	text-align: right;
	color: #3e5252;  /* rgba(0, 0, 0, 0.6) */
}

h3.arvo {
	font-family: 'Arvo', serif;
}

h3.cubano {
	font-family: 'Cubano', sans-serif;
}

h3.dude {
	font-family: 'dudehank', san-serif;
}

h3.franchise {
	font-family: 'franchiseregular';
}

h3.geared {
	font-family: 'geared_slabbold';
}

h3.lobster {
	font-family: 'Lobster', cursive;
}

h3.mensch {
    font-family: 'MenschBold';
}

h3.mission {
    font-family: 'mission_scriptregular';
}

h3.nixie {
	font-family: 'Nixie One', cursive;
}

h3.open {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

h4 {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 28px;
	line-height: 54px;
	text-align: right;
	color: #3e5252;
	float: left;
	padding-left: 40px;
}

h5 {
	font-family: 'pompadourblack';
	font-size: 44px;
	line-height: 54px;
	text-align: right;
	color: #3e5252;
}

h3.quaver {
	font-family: 'quaver_serifregular';
}

h3.quaver .sans {
	font-family: 'quaver_sansregular';
}

h3.roboto {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}

h3.vidaloka {
	font-family: 'Vidaloka', serif;
}

a {
	text-decoration: none;
}

a:link h3			{ color: #3e5252; }
a:visited h3 		{ color: #3e5252; }
a:hover h3  { color: #CC3333; }
a:hover h4  { color: #CC3333; }
a:hover h5  { color: #CC3333; }
a:active h3			{ color: #cc3333; }


